# Python
/.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.coverage
.pytest_cache/
.ruff_cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
apps/ui/build/
apps/ui/dist/
apps/api/.coverage

# IDEs
/.idea/
.vscode/
.DS_Store

# Environment
.env
.env.local
