apiVersion: apps/v1
kind: Deployment
metadata:
  name: convo-api
  labels:
    app: convo-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: convo-api
  template:
    metadata:
      labels:
        app: convo-api
    spec:
      containers:
        - name: convo-api
          image: raf4lb/convo-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
          livenessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
